* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Farver */
:root {
  /* Tekst farver */
  --Text-color-red: #e6243c;
  --Text-color-black: #0a0a0a;
  --Text-color-petroleum: #196572;
  --Text-color-white: #ffffff;

  /* Baggrundsfarver */
  --background-color-gray: #efefef;
  --background-color-lightblue: #e6f1f1;
  --background-color-petroleum: #196572;
  --background-color-red: #e6243c;
  --background-color-teritary: #ffeeee;
  --Background-color-secondary-blue: #85c3c3;

  /* Knap */
  /* Baggrund */
  --Button-primary-background-color-petroleum: #196572;
  --Button-secondary-background-color: #ffffff;
  --Button-primary-background-color-red: #e6243c;
  --Button-primary-background-color-hover: #ffe000;
  --Button-secondary-background-color-hover: #fff8e1;

  --Dropshadow-red: #93323e;
  --Dropshadow-petroleum: #29545b;
  --Dropshadow-yellow: #998e3e;

  /* Streg */
  --SeperatorLine-color-yellow: #ffe000;
}

@font-face {
  /* font-family: "Display1-bold";
  src: url(../styles/Fonte/DansestudietDisplay1-Bold.otf);
  font-weight: bold;

  font-family: "Display1";
  src: url(../styles/Fonte/DansestudietDisplay1.otf);

  font-family: "DansestudietSimple-Bold";
  src: url(../styles/Fonte/DansestudietSimple-Bold.otf);
  font-weight: bold;

  font-family: "DansestudietSimple";
  src: url(../styles/Fonte/DansestudietSimple.otf); */

  font-family: "Promt";
  src: url(../styles/Fonte/Prompt-Regular.ttf);
}

/* Fonte */
.h1 {
  text-align: center;
  font-family: DansestudietDisplay1;
  font-size: 39.06px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.h2 {
  text-align: center;
  font-family: DansestudietDisplay1;
  font-size: 39.06px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p {
  font-size: 16px;
  font-family: "Promt";
}
