---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
import DanceStylesSection from "../components/DanceStylesSection.astro";
import InstructorSection from "../components/InstructorSection.astro";
import MWSection from "../components/MWSection.astro";
import LabSection from "../components/LabSection.astro";
import PotraitSection from "../components/PotraitSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <BaseLayout>
    <main>
      <HeroSection />
      <DanceStylesSection />
      <InstructorSection />
      <MWSection />
      <LabSection />
      <PotraitSection />
    </main>
  </BaseLayout>



  <style></style>
</html>
