---
import Button from "./Button.astro";
---

<section id="HeroSection">
  <div id="heroContentBox">
    <Button />
    <Button />
  </div>
</section>

<style>
  #HeroSection {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/hero_image.jpg);
    background-size: cover;
    background-position: center;
  }
  #heroContentBox {
    /* Dette kan ændres :) */
    background-color: black;
  }
</style>
