---
import "../styles/global.css";
import Button from "./Button.astro";
---

<section id="InstructorSection">
   
    <hr>
    <div class="content">
<h2> 25 top kompetente undervisere!
</h2>
<div class="undervisere_karusell">
    <div class="undervisere-card">
        <img class="undervisere_billede" src="../assets/images/Undervisere_billeder/anne kathrine skole.png" alt="">
        <p class="undervisere_navn">Anne Kathrine Skole</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/anne-sofie pi østergaard.png"alt="">
        <p class="undervisere_navn">Anne-Sofie Pi Østergaard</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/anne-teresa  njust høj.png"alt="">
        <p class="undervisere_navn">Anne-Teresa Njust Høj</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/daniel-modified-2-2-300x300.png"alt="">
        <p class="undervisere_navn">Daniel Kalstrup Stiller</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Eliza-cirkel-loose.png"alt="">
        <p class="undervisere_navn">Eliza Boye Mouritsen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/grisell bravo.png"alt="">
        <p class="undervisere_navn">Grisell Bravo</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Ida.jpeg"alt="">
        <p class="undervisere_navn">Ida Holm</p>
    </div> 
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Jens.png"alt="">
        <p class="undervisere_navn">Jens Meldgaard</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Jesper.png"alt="">
        <p class="undervisere_navn">Jesper Holm Hermansen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Jon-cirkle.png"alt="">
        <p class="undervisere_navn">Jon Stage</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Julie-Brøgger.png"alt="">
        <p class="undervisere_navn">Julie Brøgger</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Julie-lage.png"alt="">
        <p class="undervisere_navn">Julie Lage</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Kasper.png"alt="">
        <p class="undervisere_navn">Kasper Stig Henriksen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Kira-cirkel.png"alt="">
        <p class="undervisere_navn">Kira Marie Paarup Andersen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Lisbet kokholm nør.png"alt="">
        <p class="undervisere_navn">Lisbet Kokholm Nør</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Billede-på-vej-.003-modified-300x300.png"alt="">
        <p class="undervisere_navn">Louise Flyvholm</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/lucas.png"alt="">
        <p class="undervisere_navn">Lucas Kruse Kristiansen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Maria pearl weise.png"alt="">
        <p class="undervisere_navn">Maria Pearl Weise</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Mette.png"alt="">
        <p class="undervisere_navn">Mette Holtet Skov Olesen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Nanna-Mejer.png"alt="">
        <p class="undervisere_navn">Nanna Mejer</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Pernille-Lykke.png"alt="">
        <p class="undervisere_navn">Pernille Lykke</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Sarah-Holm.png"alt="">
        <p class="undervisere_navn">Sarah Holm Hermansen</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Sofie Thostrup.png"alt="">
        <p class="undervisere_navn">Sofie Thostrup</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/T-love-Pointing.png"alt="">
        <p class="undervisere_navn">T-Love Ruffjam</p>
    </div>
    <div class="undervisere-card">
        <img class="undervisere_billede"src="../assets/images/Undervisere_billeder/Vittoria-Lasorella.png"alt="">
        <p class="undervisere_navn">Vittoria Lasorella</p>
    </div>
</div>
<div class="knap">
<Button buttonLabel="Se underviserne her" variant="primaryPetroleum"></Button>
</div>
<hr>
</section>

<style>
h2 {
color: var(--Text-color-petroleum);
text-align: center;
font-family: DansestudietDisplay1;
font-size: 25px;
font-style: normal;
font-weight: 700;
line height: normal; 
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}
.undervisere_karusell {
    display: flex;
    overflow: scroll;
    align-items: top;
    justify-content: space-between;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
   
}
.undervisere_billede {
    max-width: 150px;
    max-width: 150px;
}
.undervisere_navn {
    font-family: Promt;
    font-size: 16px;
    text-align: center;
}

hr {
    height: 2px;
    border-width: 0;
    color: var(--SeperatorLine-color-yellow);
    background-color: var(--SeperatorLine-color-yellow);
} */

/* ----------- Desktop size ----------- */
  @media (min-width: 600px) {
    h2 {
    font-size: 40px;
}

.undervisere_karusell {
    display: flex;
    overflow: scroll;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.undervisere_billede {
    max-width: 200px;
    max-width: 200px;
}
.undervisere_navn {
    font-family: Promt;
    font-size: 16px;
    text-align: center;
}

hr {
    height: 2px;
    border-width: 0;
    color: var(--SeperatorLine-color-yellow);
    background-color: var(--SeperatorLine-color-yellow);
}

   } 
</style>