---
import "../styles/global.css";

---

<section id="portraitsection">

<h2>DANSE PORTRÆTTER</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora beatae sequi similique. Asperiores consequatur, recusandae voluptates pariatur voluptatem, quis sapiente atque nihil, illum iusto suscipit magnam voluptas minus veniam aliquam.</p>

<section class="video-container">
    <video id="video" autoplay loop>
      <source src="/Mette_Portrait_Dance.mp4" type="video/mp4" />
    </video>
  </section>


</section>


<style>
    #portraitsection{
        background-color: var(--background-color-secondary);
    }
    
    h2{
        color: var(--Text-color-white);
    }

    
</style>