---
const { headline, type } = Astro.props;
---

<div id="SectionHeadlineBanner" background-variant={type}>
  <h2 headline-variant={type}>{headline}</h2>
  <!-- Denne måneds Workshop -->
</div>

<style>
  #SectionHeadlineBanner {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  h2 {
    text-align: center;

    /* Overskrifter */
    font-family: DansestudietDisplay1;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  [background-variant="MW"] {
    background: var(--background-color-gray);
  }
  [background-variant="Lab"] {
    background: var(--background-color-lightblue);
  }

  [headline-variant="MW"] {
    color: var(--Text-color-red);
  }
  [headline-variant="Lab"] {
    color: var(--Text-color-petroleum);
  }
</style>
